.submit-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        margin-right: 30px;
        opacity: 0.4;
        color: #000000;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
            text-decoration: underline;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 50px;
        font-size: 17px;
        background-color: #ff458f;
        border: 0px;
        color: #fff;
        cursor: pointer;
        transition: .3s;

        & > div > div {
            margin-left: 50px;
            display: flex;
        }

        .arrow-right {
            fill: #fff;
        }

        &:hover {
            background-color: #e0005a;
        }
    }
}
