.input-container {
    position: relative;
    display: flex;
    flex-direction: column;

    &.text-center {
        input {
            text-align: center;
        }
    }

    input {
        padding-left: 20px;
        position: relative;
        border: solid 1px #e6e6e6;
        height: 50px;
        transition: .3s;
        font-size: 20px;
        z-index: 1;
        background: rgba(250, 250, 250, 0.76);

        &:focus {
            outline: none;
            border: solid 1px rgba(255, 69, 143, 0.6);
            background: #fff;
        }

        &.invalid {
            border: solid 1px #fd6464;
        }

        &.valid {
            background: #fff;
        }
    }

    .error {
        position: absolute;
        top: 57px;
        left: 3px;
        color: #fd6464;
    }

    .placeholder {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 20px;
        transition: .3s;
        color: #000;
        background-color: rgba(255,255,255,0);
    }

    &.focused {
        .placeholder {
            top: -7px;
            left: 10px;
            font-size: 15px;
            z-index: 2;
            background-color: rgba(255,255,255,1);
            padding: 0px 10px;
            color: rgba(0, 0, 0, 0.25);
        }
    }

    &.valid {
        .valid-field {
            transform: scale(1);
        }
    }
}
