.subscribtion-form {
    h1 {
        margin: 0px 0px 10px;
    }

    .card {
        margin-top: 40px;
        padding: 0px 60px;
    }

    .flex {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .flex {
            margin-bottom: 0px;
        }

        & > div {
            margin-right: 30px;

            &:last-child {
                margin-right: 0px;
            }
        }

        &.col-1 {
            & > div {
                flex: 1;
            }
        }

        &.col-2-1 {
            & > div:nth-child(1) {
                flex: 2;
            }
            & > div:nth-child(2) {
                flex: 1;
            }
        }

        &.col-3-1 {
            & > div:nth-child(1) {
                flex: 3;
            }
            & > div:nth-child(2) {
                flex: 1;
                min-width: 170px;
            }
        }
    }

    .input-container {
        min-width: 50px;
    }
}

@media screen and (max-width: 767px) {
    .subscribtion-form {
        .flex {
            align-items: inherit;
        }
    }
}

@media screen and (max-width: 640px) {
    .subscribtion-form {
        .card {
            margin-top: 40px;
            padding: 0px 30px;
        }

        .flex {
            flex-direction: column;
            margin-bottom: 0px;

            & > div {
                margin-right: 0px;
                margin-bottom: 0px;
            }

            &.col-1 {
                margin-bottom: 0px;
            }

            .input-container {
                margin-bottom: 25px;
            }
        }
    }
}
