.ant-select-dropdown, .ant-notification-notice-description {
    font-size: 17px;
}

.ant-notification-notice-close-x:after, .ant-notification-notice-message {
    display: none;
}

.ant-notification {
    color: red;
}
