.credit-card {
    &-content {
        background-color: #fafafa;
        padding: 25px;

        .info {
            color: #299500;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            & > div {
                &:nth-child(1) {
                    width: 40px;
                    margin-right: 10px;

                    img {
                        width: 100%;
                    }
                }
                &:nth-child(2) {
                    flex: 1;
                }
                &:nth-child(3) {
                    width: 200px;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .input-container {
            &.focused {
                .placeholder {
                    background-color: #fafafa;
                }
            }

            input {
                padding-left: 0px;
                background: rgba(250, 250, 250, 0.36);
            }

            label.placeholder {
                color: #8f8f8f;
            }

            .valid-field {
                right: 60px;
            }
        }

        .credit-numbers {
            & > div:nth-child(2) {
                padding-right: 50px;
            }
        }

        .card-date {
            align-items: center;

            & > div {
                width: 160px;
                margin-right: 30px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .credit-card {
        padding: 0px !important;

        &-title {
            padding: 0px 60px;
        }

        .info {
            margin-bottom: 20px;
        }

        .card-date {
            flex-direction: row;

            & > div {
                &:nth-child(2) {
                    margin-right: 0px;
                }
            }

            .exp {
                display: none;
            }
        }
    }
}
