.select-container {
    position: relative;

    .carret {
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: 0;
    }

    &.invalid {
        .ant-select-selection {
            border: solid 1px #fd6464;
        }
    }

    &.valid {
        .ant-select-selection {
            background: transparent;
        }

        .carret {
            svg {
                fill: rgba(255, 69, 143, 0.6);
            }
        }
    }
}

.ant-select {
    font-size: 20px;
    width: 100%;

    .ant-select-selection {
        border-radius: 0px;
        height: 52px;
        z-index: 1;
        background: rgba(250, 250, 250, 0.76);
        transition: .3s;

        .ant-select-selection__rendered {
            line-height: 50px;
            margin-left: 20px;

            .ant-select-selection__placeholder {
                color: rgba(0, 0, 0, 0.25);
            }
        }

        .ant-select-arrow:before {
            content: '';
        }
    }

}
