.gender {
    position: relative;

    &-content {
        display: flex;
    }

    .women-type, .men-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 150px;

        .women-icon, .men-icon {
            width: 100px;
            height: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: .3s;
            background-size: contain;
            position: relative;

            .check {
                position: absolute;
                width: 24px;
                height: 24px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../components/subscribtionForm/cards/gender/assets/check.png');
                transform: scale(0);
                transition: transform .25s cubic-bezier(.425,-.005,.38,2);
                border: 1px solid #dcdcdc;
                border-radius: 50%;
                bottom: 0;
                right: 0;
            }

            &.active {
                .check {
                    transform: scale(1);
                }
            }
        }

        .women-icon {
            background-image: url('../components/subscribtionForm/cards/gender/assets/not-picked-women.svg');

            &.active, &:hover {
                background-image: url('../components/subscribtionForm/cards/gender/assets/picked-women.svg');
            }
        }

        .men-icon {
            background-image: url('../components/subscribtionForm/cards/gender/assets/not-picked-men.svg');

            &.active, &:hover {
                background-image: url('../components/subscribtionForm/cards/gender/assets/picked-men.svg');
            }

        }

        & > div {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .input-container {
        display: none;
    }

    .error {
        position: absolute;
        bottom: -20px;
        left: 81px;
        color: #fd6464;
    }
}
