.product {
    padding: 40px;
    border: 1px solid #e6e6e6;

    .image-container {
        height: 300px;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        border-bottom: 1px solid #e6e6e6;

        .product-image {
            height: 100%;
        }
    }

    .details {
        padding: 20px 0px;
        border-bottom: 1px solid #e6e6e6;
    }

    .total {
        padding: 20px 0px;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 640px) {
    .product {
        padding: 0px 40px;
        border: 0px;

        .image-container {
            margin-top: 50px;
        }
    }
}
