.ant-checkbox-wrapper {
    display: flex;
    align-items: center;

    .ant-checkbox-input {
        width: 30px;
        height: 30px;
        outline: none;

        &:before {
            background: green;
        }
    }

    .ant-checkbox-inner {
        width: 90%;
    }
}
