.question {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dddddd;
    color: #dddddd;
    position: absolute;
    top: 14px;
    right: 12px;
    border-radius: 4px;
    font-size: 22px;
    z-index: 2;
    cursor: pointer;
    transition: .3s;

    &:hover {
        border: 2px solid #444;
        color: #444;
    }
}
