.delivery {
    img {
        width: 100%;
    }

    .delivery-text {
        padding: 20px;
    }

    &.mobile {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .delivery {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }
}
