body {
  margin: 0px; }

.app {
  width: 90%;
  margin: 10px auto; }
  .app .content {
    margin-top: 20px;
    display: flex; }
    .app .content .product-container {
      width: 400px; }
    .app .content .form-container {
      flex: 1; }
  .app .c-pink {
    color: #ff408e;
    transition: .3s; }
  .app a.c-pink:hover {
    color: #ffa8cc; }

@media screen and (max-width: 1200px) {
  .app {
    width: 100%; } }

@media screen and (max-width: 991px) {
  .app .content {
    flex-direction: column;
    align-items: center; }
    .app .content .form-container {
      margin-top: 40px;
      width: 100%; } }

@media screen and (max-width: 640px) {
  .app .content .form-container {
    margin-top: 0px; } }
