body {
    margin: 0px;
}

.app {
    width: 90%;
    margin: 10px auto;

    .content {
        margin-top: 20px;
        display: flex;

        .product-container {
            width: 400px;
        }

        .form-container {
            flex: 1;
        }
    }

    .c-pink {
        color: #ff408e;
        transition: .3s;

    }

    a.c-pink {
        &:hover {
            color: #ffa8cc;
        }
    }
}

@media screen and (max-width: 1200px) {
    .app {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .app {
        .content {
            flex-direction: column;
            align-items: center;

            .form-container {
                margin-top: 40px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .app {
        .content {
            .form-container {
                margin-top: 0px;
            }
        }
    }
}
