.card.title {
    margin-top: 0px;

    &.mobile {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .card.title {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }
}
