.shipping-address {
    .mobile-number {
        margin-bottom: 20px !important;
        align-items: center !important;

        .input-container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 640px) {
    .shipping-address {
        .mobile-number {
            align-items: flex-start !important;

            .input-container {
                margin-bottom: 5px !important;
            }

            .label {
                padding: 0px 15px;
            }
        }
    }
}
