.valid-field {
    position: absolute;
    right: 12px;
    top: 14px;
    height: 25px;
    width: 25px;
    background-image: url('../components/common/form/validField/assets/done.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0);
    transition: transform .25s ease-out;
    z-index: 3;
}
